torch==2.0.1
torchvision==0.15.2
Pillow==10.3.0

# FastAPI и сопутствующие
fastapi==0.104.1
uvicorn[standard]==0.24.0.post1
python-multipart==0.0.6

# Для обработки изображений (upscale/enhance)
opencv-python==4.8.1.78
numpy==1.26.4

# Только если используете scikit-image в postprocess
scikit-image==0.26.0

cython 